
        <div class="profile-card">
            <div class="lazyload-wrapper ">
                <img src="https://static1.personality-database.com/profile_images/9c703c85b2154e749f27b54af976bf02.png">
            </div>
            <div class="info" >
                Ray
            </div>
            <div class="type">
                INTP
            </div>
        </div>

    



<style>
.profile-card {
    width: 50vw; height: 10vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: snow;
    border-radius: 16px;
    overflow: hidden;
}
.type{position: relative;
      left: 15vw;
}
.info{position:relative;
      left:5vw
}
</style>