{% extends 'mbti/base.html' %}
{% block content %}
       
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ENFJ - "선도자"<br>(Extraversion iNtuition Feeling Judging)</p></div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 상대방과의 미래를 생각하는 편입니다.
                    <br><br>2. 대화가 잘 통하는 상대방을 선호하는 편입니다
                    <br><br>3. 정이 많고 배려심이 깊습니다.
                    <br><br>4. 관계를 맺고 끊는 것을 어려워하므로 이별 시 힘든 편입니다.
                    <br><br>5. 감정 표현을 잘하는 편입니다.
                    <br><br>6. 상대방의 좋은 점을 찾아내려고 노력합니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/enfj.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 진짜 시끄러운 편입니다.
                    <br><br>2. 람들을 이끄는 것에 타고난 기질이 있고 좋아하기도 하며 사람을 되게 좋아합니다.
                    <br><br>3. 상대방도 본인을 신뢰한다는 느낌을 받으면 살아있음을 느낍니다.
                    <br><br>4. 무리에 속해있는 것도 좋아하지만 마이웨이 기질 약간 있습니다.
                    <br><br>5. 센스 있고 눈치가 빠릅니다.
                    <br><br>6. 감정기복이 심하다는 소리를 자주 듣습니다.
                    
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
{% endblock %}