{% extends 'mbti/base.html' %}
{% block content %}

    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ENFP - "활동가"<br>(Extraversion iNtuition Feeling Perceiving)</p></div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 금사빠 금사식 기질이 있습나다.
                    <br><br>2. 한번 빠지면 모든 것을 다 바칠 만큼 열정적입니다.
                    <br><br>3. 마음에 드는 사람이 있으면 적극적으로 표현하고 사랑을 쟁취합니다.
                    <br><br>4. 밀당을 싫어합니다.
                    <br><br>5. 상대방의 말과 행동에 쉽게 상처를 받습니다.
                    <br><br>6. 이별 후 다른 사람에게 마음을 열기까지 시간이 걸립니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/enfp.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 모순 덩어리입니다.
                    <br><br>2. 정의로운 사람입니다.
                    <br><br>3. 사람들의 이야기를 잘 들어줍니다.
                    <br><br>4. 사람들을 잘 파악합니다.
                    <br><br>5. 너무 헌신적인 성격이라 상처도 잘 받습니다.
                    <br><br>6. 다혈질이고 감성적입니다.
                    <br><br>7. 공감 능력이 뛰어납니다.
                    <br><br>8. 많은 걸 시도하려고 합니다.

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
{% endblock %}