{% extends 'mbti/base.html' %}
{% block content %}
<header>
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ENTJ - "선도자"<br>(Extraversion iNtuition Thinking Judging)</p></div>
</div>
<!-- Content Row-->
</header>
<section>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 연애하는 티를 잘 내지 않습니다.
                    <br><br>2. 좋아하는 사람에게는 부드럽고 칭찬도 많이 해주는 편입니다. 
                    <br><br>3. 자존심이 세고 논쟁을 좋아합니다.
                    <br><br>4. 연애를 하면서도 본인의 사생활은 존중받아야 한다고 생각합니다.
                    <br><br>5. 은근 눈이 높은편이고 본인이랑 비슷한 사람을 좋아합니다.
                    <br><br>6. 마음에 드는 상대가 있으면 은근 쉽게 사랑에 빠지는 편입니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/entj.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 조직적, 체계적, 계획적입니다.
                    <br><br>2. 너무 완벽주의를 추구하기 때문에 남이 비집고 들어갈 틈이 없습니다.
                    <br><br>3. 호기심이 많습니다.
                    <br><br>4. 고집이 센 듯 하지만 정당한 비판에 대한 수용은 빠릅니다.
                    <br><br>5. 인기 있는 사람보다 능력 있는 사람으로 여겨지길 원합니다.
                    <br><br>6. 권위적이지 않습니다.
                    <br><br>7. 미래에 대한 꿈이 큽니다.
                    
            </div>
        </div>
    </div>
    <div style=" text-align: center;">
        <a href="/insert/"><button style=" display: inline-block;">나도 올리기!!</button></a>
    </div>
</div>
</div>
</body>
</html>
</section>
<footer>
{% for a in data %}
    <div class="profile-card">
        <div class="lazyload-wrapper ">
            <img src="/static/image/enfj.jpg">
        </div>
        <div class="info" >
            {{a.name}}
        </div>
        <div class="type">
            {{a.mbti}}
        </div>
    </div>
{% endfor %}
</footer>
<style>
    .profile-card {
        width: 50vw; height: 10vw;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: snow;
        border-radius: 16px;
        overflow: hidden;
    }
    .type{position: relative;
          left: 15vw;
    }
    .info{position:relative;
          left:5vw
    }
    </style>
{% endblock %}