{% extends 'mbti/base.html' %}
{% block content %}
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ENTP - "변론가"<br>(Extraversion iNtuition Thinking Perceiving)</p></div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 이성에게 잘 다가가서 연애 잘 함
                    <br><br>2. 남들 잘 꼬시고 썸 잘타는 유형
                    <br><br>3. 자유분방하고 자존심 강함.
                    <br><br>4. 서로의 사생활을 존중하는 연애를 원함
                    <br><br>5. 남들이 다가오거나 너무 잘해주면 부담 많이 느끼는 편.
                    <br><br>6. 은근 특이한 사람에게 끌림
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/entp.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 시비 거는 걸 좋아해 일단 시비 걸고 보는데, 호전적이고 시건방집니다.
                    <br><br>2. 알지도 못하면서 아는 체하는 걸 좋아하며 나서는 편입니다.
                    <br><br>3. 일 벌이는 거 좋아하는데 끈기는 없습니다.
                    <br><br>4. 본인이 이성적이며 매력적이고 사교적이라고 생각합니다.
                    <br><br>5. 계획은 많으나 실천을 안 합니다.
                    <br><br>6. 자신이 맡은 분야 외에는 남이 뭐라 하든 신경 쓰지 않습니다.
                    
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
{% endblock %}