{% extends 'mbti/base.html' %}
{% block content %}
<header>
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ESFJ - "외교관"<br>(Extraversion Sensing Feeling Judging)</p></div>
</div>
<!-- Content Row-->
</header>
<section>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 즉흥적인 데이트보다 계획적인 데이트를 더 선호합니다.
                    <br><br>2. 안정적 연애를 더 좋아합니다.
                    <br><br>3. 상대방에게 사랑을 많이 주지만 그만큼 받고 싶어 합니다.
                    <br><br>4. 관계가 틀어짐에서 오는 스트레스를 많이 받습니다.
                    <br><br>5. 애인의 가족들도 잘 챙겨줍니다.
                    <br><br>6. 헌신적이고 책임감 있는 모습을 보여줍니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/esfj.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 타고난 분위기 메이커입니다.
                    <br><br>2. 새로운 사람 사귀는 것도 좋아하고 같이 노는 것도 좋아합니다.
                    <br><br>3. 생각은 진짜 창의적인데 그만큼 실행력이 따라가지를 못합니다.
                    <br><br>4. 감정 기복 심하고 감정이 얼굴에 다 드러납니다.
                    <br><br>5. 아직 일어나지 않은 상황에 대해 미리 걱정합니다.
                    <br><br>6. 누가 나한테 반대하거나 부탁을 거절하면 쉽게 상처를 입습니다.
                    
            </div>
        </div>
    </div>
    <div style=" text-align: center;">
        <a href="/file/insert/"><button style=" display: inline-block;">나도 올리기!!</button></a>
    </div>
</div>
</div>
</body>
</html>
</section>
<footer>
{% for a in data %}
    <div class="profile-card">
        <div class="lazyload-wrapper ">
            <img src="/static/image/enfj.jpg">
        </div>
        <div class="info" >
            {{a.name}}
        </div>
        <div class="type">
            {{a.mbti}}
        </div>
    </div>
{% endfor %}
</footer>
<style>
    .profile-card {
        width: 50vw; height: 10vw;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: snow;
        border-radius: 16px;
        overflow: hidden;
    }
    .type{position: relative;
          left: 15vw;
    }
    .info{position:relative;
          left:5vw
    }
    </style>
{% endblock %}