{% extends 'mbti/base.html' %}
{% block content %}
<header>
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ESTJ - "경영자"<br>(Extraversion Sensing Thinking Judging)</p></div>
</div>
<!-- Content Row-->
</header>
<section>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 헌신적이고 책임감이 있는 스타일입니다.
                    <br><br>2. 계획적인 성격으로 데이트를 할 때도 충동적인 것보다 계획적인 것을 선호합니다.
                    <br><br>3. 해야 할 일을 다 끝내고 만나는 것을 선호하는 편입니다.
                    <br><br>4. 경제적 금전 관리 잘 하는 편입니다.
                    <br><br>5. 상대방 감정에 공감하는 것을 어려워하고, 감정을 직접적으로 전달합니다.
                    <br><br>6. 잘 챙겨주고 사소한 거로 싸우지 않고 은근 잘 맞춰줍니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/estj.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 고집 셈, 현실적, 이성적, 직설적입니다.
                    <br><br>2. 호불호가 확실합니다
                    <br><br>3. 나가서 노는 것보단 이것저것 배우는 걸 좋아합니다.
                    <br><br>4. 리더역할을 주도적으로 자주 합니다.
                    <br><br>5. 모든 게 제자리에 있어야 하고 내 계획이 절대 틀어지면 안된다는 생각이 있습니다.
                    <br><br>6. 목표 설정해놓고 그 목표 이룰 때까지 한 우물만 파는 기질이 있습니다.
                    <br><br>7. 사람들이 아는 내 성격이랑 혼자 있을 때랑 조금 다릅니다.
                    
            </div>
        </div>
    </div>
    <div style=" text-align: center;">
        <a href="/insert/"><button style=" display: inline-block;">나도 올리기!!</button></a>
    </div>
</div>
</div>
</body>
</html>
</section>
<footer>
{% for a in data %}
    <div class="profile-card">
        <div class="lazyload-wrapper ">
            <img src="/static/image/enfj.jpg">
        </div>
        <div class="info" >
            {{a.name}}
        </div>
        <div class="type">
            {{a.mbti}}
        </div>
    </div>
{% endfor %}
</footer>
<style>
    .profile-card {
        width: 50vw; height: 10vw;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: snow;
        border-radius: 16px;
        overflow: hidden;
    }
    .type{position: relative;
          left: 15vw;
    }
    .info{position:relative;
          left:5vw
    }
    </style>
{% endblock %}