{% extends 'mbti/base.html' %}
{% block content %}
<header>
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ESTP - "사업가"<br>(Extraversion Sensing Thinking Perceiving)</p></div>
</div>
<!-- Content Row-->
</header>
<section>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 오는사람 가는사람 막지 않는 편입니다.
                    <br><br>2. 마음에 드는 사람이 있으면 가능한 최선을 다하려고 합니다.
                    <br><br>3. 연애 시작하고 빨리 질리기도 합니다.
                    <br><br>4. 좋아한다는 표현 되게 잘하고 적극적입니다.
                    <br><br>5. 연애에 뒤끝이 없는 편입니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/estp.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 자기 주장이 강합니다.
                    <br><br>2. 목표 달성을 위해 노력하는 편입니다.
                    <br><br>3. 반항아적 기질이 있습니다.
                    <br><br>4. 충동적이고 즉흥적입니다.
                    <br><br>5. 설득과 토론을 좋아합니다.
                    <br><br>6. 자존심이 강합니다.
                    <br><br>7. 낙천적입니다.
                    <br><br>8. 관심받는 거 좋아합니다.
            </div>
        </div>
    </div>
    <div style=" text-align: center;">
        <a href="/file/insert/"><button style=" display: inline-block;">나도 올리기!!</button></a>
    </div>
</div>
</div>
</body>
</html>
</section>
<footer>
{% for a in data %}
    <div class="profile-card">
        <div class="lazyload-wrapper ">
            <img src="/static/image/enfj.jpg">
        </div>
        <div class="info" >
            {{a.name}}
        </div>
        <div class="type">
            {{a.mbti}}
        </div>
    </div>
{% endfor %}
</footer>
<style>
    .profile-card {
        width: 50vw; height: 10vw;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: snow;
        border-radius: 16px;
        overflow: hidden;
    }
    .type{position: relative;
          left: 15vw;
    }
    .info{position:relative;
          left:5vw
    }
    </style>
{% endblock %}