{% extends 'mbti/base.html' %}
{% block content %}
<header>
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >INTP - "논리술사"<br>(Introversion iNtuition Thinking Perceiving)</p></div>
</div>
<!-- Content Row-->
</header>
<section>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 연애하면서 에너지 소모가 심한 편입니다.
                    <br><br>2. 상대방에게 관심이 식으면 손절이 빠른 편입니다.
                    <br><br>3. 연인에게 의지하기보다 독립적인 성향이 강합니다.
                    <br><br>4. 밀당을 하거나 당하는 것을 싫어합니다.
                    <br><br>5. 연애할 때도 상대방을 분석하는 것을 좋아합니다.
                    <br><br>6. 기념일을 챙기는 것보다 평소에 신경 쓰거나 실용적인 것을 좋아합니다.
                    <br><br>7. 상대방의 다정함이나 따뜻함보다는 재미, 호기심에 더 끌립니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/intp.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 자기애가 높습니다.
                    <br><br>2. 분석, 추리를 좋아하고 생각 많습니다.
                    <br><br>3. 논리력 없는, 어리석은 사람들 보면 화가 나는 편입니다.
                    <br><br>4. 진지충이라는 소리를 자주 듣습니다.
                    <br><br>5. 주변에 사람들 별로 없는데 남아있는 사람들이랑은 정말 잘 지냅니다.
                    <br><br>6. 웬만한 일에 상처받지 않습니다.
                    <br><br>7. 주위에 감정을 표현하지 않고 묵혀둡니다. 그러나 스트레스를 받지 않습니다.
            </div>
        </div>
    </div>
    <div style=" text-align: center;">
        <a href="/insert/"><button style=" display: inline-block;">나도 올리기!!</button></a>
    </div>
</div>
</div>
</body>
</html>
</section>
<footer>
{% for a in data %}
    <div class="profile-card">
        <div class="lazyload-wrapper ">
            <img src="/static/image/enfj.jpg">
        </div>
        <div class="info" >
            {{a.name}}
        </div>
        <div class="type">
            {{a.mbti}}
        </div>
    </div>
{% endfor %}
</footer>
<style>
    .profile-card {
        width: 50vw; height: 10vw;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: snow;
        border-radius: 16px;
        overflow: hidden;
    }
    .type{position: relative;
          left: 15vw;
    }
    .info{position:relative;
          left:5vw
    }
    </style>
{% endblock %}