{% extends 'mbti/base.html' %}
{% block content %}
<header>
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ISFP - "모험가"<br>(Introversion Sensing Feeling Perceiving)</p></div>
</div>
<!-- Content Row-->
</header>
<section>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 거절당하는 것을 싫어해서 고백을 잘 하지 못하는 유형이 많습니다.
                    <br><br>2. 혼자 있는 시간이 필요해서 쉴 틈을 주지 않는 만남, 전화에 에너지가 많이 소모됩니다.
                    <br><br>3. 갈등을 싫어해서 연애 상대방에게 맞춰주고 협조해 주려고 합니다.
                    <br><br>4. 장기적인 관계를 선호하는 편입니다.
                    <br><br>5. 상대방에게 잘 퍼주는 성격으로, 친구들과의 우정보다 사랑을 우선시하는 경우가 많습니다.
                    <br><br>6. 연애에 신중하고 짝사랑을 오래 하기도 합니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/isfp.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 발등에 불이 떨어져서 타들어가도록 일을 끝까지 미룹니다.
                    <br><br>2. 결단력, 추진력, 주관 없음 선택 장애입니다.
                    <br><br>3. 다른 사람 부탁 거절 잘 못하고, 양보를 잘합니다.
                    <br><br>4. 남한테 민폐 끼치는 거 싫어하고 싫은 소리를 못합니다.
                    <br><br>5. 규칙이나 관습, 틀에 묶이는 것을 싫어합니다.
                    <br><br>6. 누가 나한테 부정적으로 말하는 거에 상처를 쉽게 받습니다.
                    <br><br>7. 남한테 내 얘기 잘 안 합니다.
            </div>
        </div>
    </div>
    <div style=" text-align: center;">
        <a href="/insert/"><button style=" display: inline-block;">나도 올리기!!</button></a>
    </div>
</div>
</div>
</body>
</html>
</section>
<footer>
{% for a in data %}
    <div class="profile-card">
        <div class="lazyload-wrapper ">
            <img src="/static/image/enfj.jpg">
        </div>
        <div class="info" >
            {{a.name}}
        </div>
        <div class="type">
            {{a.mbti}}
        </div>
    </div>
{% endfor %}
</footer>
<style>
    .profile-card {
        width: 50vw; height: 10vw;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: snow;
        border-radius: 16px;
        overflow: hidden;
    }
    .type{position: relative;
          left: 15vw;
    }
    .info{position:relative;
          left:5vw
    }
    </style>
{% endblock %}