{% extends 'mbti/base.html' %}
{% block content %}
<!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ISTJ - "현실주의자"<br>(Introversion Sensing Thinking Judging)</p></div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 목적 없이 사람들과 어울리는 것, 굳이 잘 모르는 사람들 사이에서 어울려야 하는 것을 매우 싫어해 새로운 인물과 연애가 어려운 편입니다.
                    <br><br>2. 해당 유형은 자신과 같은 I type의 (내향적) 이성에겐 끌려 하지 않으며 밝고 활기찬 E type(외향적)을 선호합니다.
                    <br><br>3. 겉으로는 답답하고 딱딱해 보이지만 본인이 진정 사랑하는 상대를 만나게 되면 모든 걸 다 쏟는 유형 중에 하나입니다.
                    <br><br>4. 자신의 노력을 상대방에게 인정받고 싶어 하는 성향이 크기 때문에 자신의 생각과 감정을 모두 표현해야 좋은 관계를 유지하는 데 도움이 됩니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/istj.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 선입견이 강합니다.
                    <br><br>2. 낯가림이 심한 편입니다.
                    <br><br>3. 주어진 업무나 책임을 끝까지 완수합니다.
                    <br><br>4. 원리, 원칙적입니다.
                    <br><br>5. 모든 유형 중에서 가장 솔직합니다.
                    <br><br>6. 실수한 것을 참지 못하고 즉각 수정하기를 원합니다.
                    <br><br>7. 잘못했다는 건 인정하면서도 미안하다, 잘못했다고 잘 못한다.
                    <br><br>8. 겉보기에 차가워 보입니다.
                </p></h5>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
{% endblock %}