{% extends 'mbti/base.html' %}
{% block content %}
    <!-- Call to Action-->
<div class="card text-navy bg-black my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0" style="font-size:60px;" >ISTP - "장인"<br>(Introversion Sensing Thinking Perceiving)</p></div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
            <h1 class="card-title">,,나의 연애 스타일,,</h1><br>
               <h5><p class="card-text">=><br>
                    1. 어장관리 안 하고 한 사람에게 몰입하는 편입니다.
                    <br><br>2. 상대방과 있을 땐 오직 상대방에게만 집중하는 편입니다.
                    <br><br>3. 좋아한다는 감정표현을 잘 안하는편입니다.
                    <br><br>4. 애인과 노는 시간도 좋지만 혼자만의 시간이 필요합니다.
                    <br><br>5. 잔소리를 싫어합니다.
                    <br><br>6. 변덕이 심한 편입니다.
                </p></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는 이런사람들과 같아요,,</h2>
                <p class="card-text"><img src="/static/images/istp.jpg" width="425px;"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">,,나는,,</h2>
                <h5><p class="card-text">=><br>
                    1. 마음에 없는 얘기를 상대방 기분 때문에 하지 않습니다.
                    <br><br>2. 고집이 세고 주관이 뚜렷합니다.
                    <br><br>3. 객관적 원리에 관심이 많습니다.
                    <br><br>4. 맹목적이고 감정적인 것을 싫어하는 특성상, 무종교인 및 무신론자 비율이 높습니다.
                    <br><br>5. 느낌과 감정, 타인에 대한 마음을 표현하기 어려워합니다.
                    <br><br>6. 타인의 일에 무관심한 편입니다.
            </div>
        </div>
    </div>
    <div style=" text-align: center;">
        <a href="/file/insert/"><button style=" display: inline-block;">나도 올리기!!</button></a>
    </div>
</div>
</div>
</body>
</html>
{% endblock %}