        <!DOCTYPE html>
    {% load static %}
    <html lang="ko">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>K-MBTI에 오신것을 환영합니다. </title>
        <script src="https://kit.fontawesome.com/02f379c4cb.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet"> <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    
    </head>
    
    <body>
        <!-- Navigation-->
        <nav class="navbar fixed-top navbar-light bg-light">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-5 px-lg-7">
                    <i class="fa-solid fa-feather fa-2x"></i>
                    <a class="navbar-brand" href="http://127.0.0.1:8000/">MBTI</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <!-- 검색창 -->
                            <form
                                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="검색어를 입력해주세요..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <li>
                                <div class="justify-content-end">
                            <li class="nav-item"><a class="nav-link active" aria-current="page"
                                    href="http://127.0.0.1:8000/mbti/what/">MBTI란 무엇인가?</a></li>
                            <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/index">MBTI의 종류들</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">게시판</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/mbti/freeboard/">자유 게시판</a>
                                    </li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/mbti/counseling/">고민상담
                                        </a></li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/mbti/bd/">소개팅</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">로그인</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/accounts/login">로그인</a></li>
    
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/accounts/logout">로그아웃</a></li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/accounts/signup">회원가입</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li class="nav-item" id="accounts_123">
                                        {% if user.is_authenticated %}
                                        <p>{{ user.username }} 님 반갑습니다.</p>
                                        {% else %}
                                        <p> 현재 상태 : Guest</p>
                                        {% endif %}
                                    </li>
                                </ul>
                            <li><a style="text-decoration:none" href="http://www.facebook.com"
                                    class="fa-brands fa-square-facebook fa-3x"></a></li>
                            <li><a style="text-decoration:none; color: red" href="http://www.instagram.com"
                                    class="fa-brands fa-square-instagram fa-3x fa-3x"></a></li>
                            <i class="icon-cog blackiconcolor">
                                </li>
                        </ul>
                        </li>
                    </div>
                    </div>
                </nav>
            </nav>
    
            <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS
            <script src="/static/js/scripts.js"></script> -->
        </body>
    </html>
        <!-- Header-->
        <header class="bg-white py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-dark">
                    <br><br><br><h1 class="display-1 fw-bolder">소심한 "I"들의 <br>거침없는 "E"사이트</h1>
                </div>
            </div>
        </header>




               <!-- About-->
       <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                
                <h5 class="section-heading text-uppercase">About</h5>
                <u><h1>* MBTI *</h1></u>
                <br><br><br>
            <ul class="timeline">
                <li>
                    <img src="/static/image/main1.jpg"  width= "500px" height= "500px"alt="">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>MBTI는</h4>
                            <h4 class="subheading">Myers-Briggs Type Indicator의 약자를 조합한 것 !</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">**TMI**<br>=> 이때 마이어스와 브릭스는 서로 모녀관계 ! </p></div>
                    </div>
                </li>
            </div>
            <hr class="dropdown-divider" />
            <div class="text-center">
                <br><br><br>
            <ul class="timeline">
                <li>
                    <img src="/static/image/main2.jpg"  width= "500px" height= "350px"alt="">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>MBTI는</h4>
                            <h4 class="subheading">총 16가지의 성분을 지니고 있다!?</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">**TMI**<br>=> 서로 상반되는 뜻을 가진 두 알파벳을 조합하여 하나를 만들어내고,<br>조합된 알파벳을 최종산출하면 나의 MBTI결과가! </p></div>
                    </div>
                </li>
            </div>
            <hr class="dropdown-divider" />
            <div class="text-center">
                <br><br><br>
            <ul class="timeline">
                <li>
                    <img src="/static/image/main3.jpg"  width= "500px" height= "500px"alt="">
                    <div class="timeline-panel">
                        <div class="timeline-heading"><br>
                            <h2>"I"와 "E"는 뭐가 달라?</h2>
                            <h5 class="subheading">나는 인간관계가 넓고, 엄청 활발해 => E<br><br>나는 조금은 소극적이고, 혼자 조용히 하는 걸 좋아해 => I</h5>
                        </div>
                        <div class="timeline-body"><p class="text-muted">**알고 계신가요?**<br>=> MBTI에는 좋고 나쁜건 없다는 것 ! </p></div>
                    </div>
                </li>
            </div>
            <hr class="dropdown-divider" />
            <div class="text-center">
                <br><br><br>
            <ul class="timeline">
                <li>
                    <img src="/static/image/main4.jpg"  width= "500px" height= "500px"alt="">
                    <div class="timeline-panel">
                        <div class="timeline-heading"><br>
                            <h2>"S"와 "N"는 뭐가 달라?</h2>
                            <h5 class="subheading">난 현실적이고, 직접 본 것들에 초점이 맞춰줘있어서 세심하고 꼼꼼한 편이야 => S<br><br>나는 미래지향적이고, 보이지 않는 것을 잘 상상해서 아이디어가 풍부해 => N</h5>
                        </div>
                        <div class="timeline-body"><p class="text-muted">**알고 계신가요?**<br>=> MBTI에는 좋고 나쁜건 없다는 것 ! </p></div>
                    </div>
                </li>
            </div>
            <hr class="dropdown-divider" />
            <div class="text-center">
                <br><br><br>
            <ul class="timeline">
                <li>
                    <img src="/static/image/main5.jpg"  width= "500px" height= "500px"alt="">
                    <div class="timeline-panel">
                        <div class="timeline-heading"><br>
                            <h2>"F"와 "T"는 뭐가 달라?</h2>
                            <h5 class="subheading">난 눈치가 빠르고 나보다 상대방을 더 생각하고 감성적인편이야 => F<br><br> 나는 솔직해서 상대방에게 직접적인 조언을 해주는 편이야 => T</h5>
                        </div>
                        <div class="timeline-body"><p class="text-muted">**알고 계신가요?**<br>=> MBTI에는 좋고 나쁜건 없다는 것 ! </p></div>
                    </div>
                </li>
            </div>
            <hr class="dropdown-divider" />
            <div class="text-center">
                <br><br><br>
            <ul class="timeline">
                <li>
                    <img src="/static/image/main6.jpg"  width= "500px" height= "500px"alt="">
                    <div class="timeline-panel">
                        <div class="timeline-heading"><br>
                            <h2>"J"와 "P"는 뭐가 달라?</h2>
                            <h5 class="subheading">나는 목적이 있으면 사전조사가 필수 ! 엄청 계획적인 사람이야 => J<br><br> 나도 다 계획이 있어, 무계획이 계획이야 게으른건 아니야 => P</h5>
                        </div>
                        <div class="timeline-body"><p class="text-muted">**알고 계신가요?**<br>=> MBTI에는 좋고 나쁜건 없다는 것 ! </p></div>
                    </div>
                </li>
            </div>
            </ul>
    </section>
</div>




    