{% extends 'mbtiapp/base.html' %}
{% block content %}

<div class="jumbotron">
  <div class="container text-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>num</th>
          <th>title</th>
          <th>content</th>
          <th>id</th>
        </tr>
      </thead>
      <tbody>
        {% for article in article_list %}
        <tr>
          <td>{{ article.id }}</td>
          <td>{{ article.title }}</td>
          <td>{{ article.content }}</td>
          <td>{{ article.user.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}